name: Java CI with Maven when pull request

on:
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      TOKEN_SECRET: ${{ secrets.TOKEN_TEST }}
      BUCKET_NAME: ${{ secrets.MINIO_BUCKET_TEST }}
      MINIO_URL: ${{ secrets.MINIO_URL_TEST }}
      MINIO_ACCESS_KEY: ${{ secrets.MINIO_ACCESSEY_TEST }}
      MINIO_ACCESS_SECRET:  ${{ secrets.MINIO_ACCESSSECRET_TEST }}
    steps:
      - name: Chekout git files
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: maven

      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2


      - name: Build with Maven
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=felipesouza91_marketspace-api -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco-aggregate/jacoco.xml -Pcoverage

        
