name: Java CD with Maven

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Chekout git files
      uses: actions/checkout@v3
      
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'corretto'
        cache: maven

    - name: Cache Maven dependencies
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
        
    - name: Get Project Version from pom.xml
      uses: entimaniac/read-pom-version-action@1.0.0
      id: getVersion

    - name: Build with Maven
      run: mvn run -DimagePlatform=linux/amd64,linux/arm64,linux/arm/v5 -Dname=${{secrets.DOCKERHUB_USERNAME}}/marketspace-api:${{steps.getVersion.outputs.version}} spring-boot:build-image
    
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    #- name: Build and push
     # uses: docker/build-push-action@v4
      #with:
       #   context: .
       #   platforms: linux/amd64,linux/arm64,linux/arm/v7
       #   push: true
       #   tags: ${{secrets.DOCKERHUB_USERNAME}}/marketspace-api:${{steps.getVersion.outputs.version}}
